body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 64px;
  margin-right: 5px;
  margin-top: 5px;
  padding: 0;
  text-align: center;
  width: 64px;
  cursor: pointer;
}

.status {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 20px;
}

.square:focus {
  outline: none;
}

.board-row {
  clear: both;
  content: "";
  display: flex;
  justify-content: center;
}

.reset-wrapper {
  display: flex;
  justify-content: center;
}

.reset {
  margin-top: 10px;
}