body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background-color: bisque;
}

.square {
  background: rgb(101, 39, 218);
  box-shadow: 0px 10px 30px -2px rgba(30,30,60,0.15);
  border-radius: 6px;
  transition: all 0.5s ease;
  border: 1px solid #999;
  float: left;
  font-size: 50px;
  color: rgb(230, 223, 214);
  font-weight: bold;
  line-height: 34px;
  height: 80px;
  margin-right: 5px;
  margin-top: 5px;
  padding: 0;
  text-align: center;
  width: 80px;
  cursor: pointer;
}

.square:hover {
  transform: scale(0.9);
}

.status {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 20px;
}

.square:focus {
  outline: none;
}

.board-row {
  clear: both;
  content: "";
  display: flex;
  justify-content: center;
}

.reset-wrapper {
  display: flex;
  justify-content: center;
}

.reset {
  margin-top: 20px;
  transition: all 0.5s ease;
}

.reset:hover {
  transform: scale(1.2);
}